<section id="register-form">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5>Register</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12 email">
          <input #username placeholder="Username" type="text" id="username" size="30" required>
        </div>
        <div class="col-12 col-lg-12 email">
          <input #email placeholder="Your email" type="email" id="email" pattern=".+@globex.com" size="30" required>
        </div>
        <div class="col-12 col-lg-12 email">
          <input #password placeholder="Password" type="password" id="password" size="30" required>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-btns contact-btn">
            <!-- Send Message Btn -->
            <a (click)="register(username.value, email.value, password.value)">Register</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  