<section id="claim-form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>Submit Claim</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-6 email">
        <input placeholder="Your name" type="text" id="name" pattern=".+@globex.com" size="30" required>
      </div>
      <div class="col-6 col-lg-6 email">
        <input placeholder="Your email" type="email" id="email" pattern=".+@globex.com" size="30" required>
      </div>
      <div class="col-6 col-lg-6 email">
        <input placeholder="Your company" type="text" id="company" size="30" required>
      </div>
      <div class="col-6 col-lg-6 email">
        <input placeholder="Container No" type="text" id="container-no" size="30" required>
      </div>
      <div class="col-6 col-lg-6 email">
        <input placeholder="Vessel Name" type="text" id="vessel" size="30" required>
      </div>
      <div class="col-6 col-lg-6 email">
        <input placeholder="Vessel Arrival date" type="date" id="eta" size="30" required>
      </div>
      <div class="col-12 col-lg-12 email">
        <textarea placeholder="Please describe the matter" id="description"></textarea>
      </div>
      <div class="col-12 col-lg-12 email">
        <input placeholder="Attachments" type="file" id="attachments" size="30" required>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="hero-btns contact-btn">
          <!-- Send Message Btn -->
          <a href="#">Submit claim</a>
        </div>
      </div>
    </div>
  </div>
</section>
